asgiref==3.10.0
click==8.3.0
colorama==0.4.6
Django==5.2.7
django-bootstrap5==25.3
django-cleanup==9.0.0
django-htmx==1.26.0
json5==0.12.1
pathspec==0.12.1
pyjson5==2.0.0
python-decouple==3.8
pytz==2025.2
PyYAML==6.0.3
regex==2025.11.3
six==1.17.0
sqlparse==0.5.3
tqdm==4.67.1
tzdata==2025.2
